table {
  width: 90%;
  margin: 2rem auto;
  border-collapse: collapse;
  border: solid 1px #c0c0c0;
  
}

[colSpan="2"] {
  text-align: center;
}

table th {
  border-bottom: 1px solid #c0c0c0;
  text-align: left;
}

table th, table td {
  padding: 0.2rem;
}
