.Notifications {
  padding: 2rem;
  border: 1px dashed #df354b;;
}
[data-notification-type=default] {
  color: blue;
}
[data-notification-type=urgent] {
  color: red;
}

.Notifications ul {
  margin-top: 0.5rem;
}
.Notifications button {
  background-color: transparent;
}
